/* Small Devices (Phones) */
@media only screen and (max-width: 767px) {
  /* Styles for small screens */
  body{
    background:black;
  }
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium screens */
  body{
    background:orange;
  }
}


/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1200px) {
  /* Styles for extra large screens */
  body{
    background:red;
  }
}