body {
  background: black;
  color: white;
}

/* Common CSS */
#hideScroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#hideScroll::-webkit-scrollbar-track {
  background: transparent;
  width: 50px;
}

#hideScroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

#hideScroll::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  /* border: 1px solid white; */
  padding-bottom: 40px;
}

/* Hero section CSS */
.heroImage {
  background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.52), black),
    url("/src/assets/heroBG.png");
  height: 300px;
  background-color: black;
  width: 100%;
}

.heroMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 10%;
}

.heroText {
  font-family: "Roboto", sans-serif;
}

/* Plan details CSS */
.planCard {
  position: relative;
  background-color: #292a2f;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}

.discountTag {
  background: #3980ff;
  color: white;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  border-radius: 10px;
  font-size: 10px;
}

.radioButton {
  width: 20px;
  height: 20px;
}

.specialPriceTag {
  position: absolute;
  background-image: linear-gradient(to right, #0075ff, #ff00d6, #ffa800);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 11px;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  right: 0;
  font-size: 10px;
}

/* Discount section css */
.discountCard {
  background-color: #1c1c1c;
  font-family: "Roboto", sans-serif;
}

.discountCard > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discountContainer > p {
  color: rgb(155, 153, 153);
}

.discountCard > :nth-child(2) > :nth-child(1) {
  color: rgb(155, 153, 153);
}

.discountCard > :nth-child(2) > :nth-child(2) {
  color: #ff3d00;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.subscribe {
  background-image: linear-gradient(to right, #0075ff, #ff00d6, #ffa800);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 40px;
}

.subscribe > :nth-child(1) {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.subscribe > :nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.arrowForward {
  cursor: pointer;
}

/* Benefits section CSS */
.benefitsContainer {
  border: 1px solid gray;
  margin-top: 30px;
  border-radius: 15px;
  padding-bottom: 20px;
}

.benefitsContainer > p {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: 600;
  width: 60%;
  margin: auto;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 17px 5px 17px;
}

.benefitsContainer > :nth-child(2) {
  margin-top: 20px;
}

.benefitsCard {
  padding: 0px 20px 0px 30px;
  display: flex;
  align-content: first baseline;
  gap: 20px;
  font-size: 14px;
}

.benefitsCard > div > img {
  width: 34px;
  height: 34px;
  margin-top: 15px;
}

.benefitsCard > :nth-child(2) > :nth-child(1) {
  font-weight: 500;
}

.benefitsCard > :nth-child(2) > :nth-child(2) {
  font-weight: 400;
  color: gray;
  margin-top: -10px;
}

/* Series section */
.seriesContainer {
  padding-top: 10px;
}

.titleHeader {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  text-align: center !important;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

.seriesImageContainer {
  margin-top: 30px;
  display: flex;
  overflow-x: scroll;
  gap: 15px;
}

.seriesImage {
  width: 133px;
  height: 170px;
  border-radius: 6px;
  cursor: pointer;
}

/* Top experts section */
.expertsContainer {
  margin-top: 10%;
}

.expertsContainer > div {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  margin-top: 7%;
}

.expertsCard {
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.expertsCard > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.expertsCard > :nth-child(2) {
  font-size: 14px;
  font-weight: 500;
}

.expertsCard > :nth-child(3) {
  font-size: 12px;
  font-weight: 400;
  margin-top: -10px;
  color: gray;
}

/* Small Devices (Phones) */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }

  /* Hero section CSS */
  .heroText {
    font-size: 20px;
  }

  /* Plan details CSS */
  .plansContainer {
    margin-top: 25px;
  }

  .planCard {
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .planCard > div > div > p > :nth-child(1) {
    font-size: 20px;
    font-weight: 600;
  }

  .planCard > div > div > p > :nth-child(2) {
    font-size: 11px;
    font-weight: 400;
  }

  .planCard > div > div > :nth-child(2) {
    font-size: 11px;
    margin-top: -5px;
  }

  .radioButton {
    width: 15px;
    height: 15px;
  }

  .specialPriceTag {
    top: -11px;
  }

  /* Discount section */
  .discountContainer {
    margin-top: 30px;
  }

  .discountContainer > p {
    font-size: 10px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
  }

  .discountCard {
    border-radius: 15px;
    padding: 14px;
  }

  .discountCard > div > div > p {
    font-size: 14px;
    font-weight: 600;
  }

  .discountCard > :nth-child(1) > p {
    font-size: 12px;
    font-weight: 400;
  }

  .discountCard > :nth-child(2) > :nth-child(1) {
    font-size: 10px;
    font-weight: 400;
  }

  .discountCard > :nth-child(2) > :nth-child(2) {
    font-size: 10px;
    font-weight: 400;
  }
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .container {
    width: 90%;
  }


  /* Hero section CSS */
  .heroSVG {
    width: 140px;
    height: 140px;
  }

  .heroText {
    font-size: 22px;
  }

  /* Plan details CSS */
  .plansContainer {
    width: 60%;
    margin: auto;
  }

  .planCard {
    padding: 15px;
  }

  .specialPriceTag {
    top: -10px;
  }

  /* Discount section CSS */
  .discountContainer {
    width: 60%;
    margin: auto;
    margin-top: 50px;
  }

  .discountContainer > p {
    font-size: 16px;
  }

  .discountCard {
    padding: 20px;
    border-radius: 20px;
  }

  .discountCard > div > div > p {
    font-size: 15px;
    font-weight: 600;
  }

  .discountCard > :nth-child(2) > :nth-child(1) {
    font-size: 14px;
    font-weight: 400;
  }

  .discountCard > :nth-child(2) > :nth-child(2) {
    font-size: 14px;
    font-weight: 400;
  }

  .subscribe {
    width: 55%;
    margin: auto;
    margin-top: 30px;
  }

  /* Benefits section CSS */
  .benefitsContainer {
    width: 60%;
    margin: auto;
    margin-top: 40px;
  }

  /* Series section */
  .seriesContainer {
    width: 90%;
    margin: auto;
    margin-top: 2%;
  }

  /* Top experts section */
  .expertsContainer {
    width: 90%;
    margin: auto;
    margin-top: 6%;
  }

  .expertsContainer > div {
    margin-top: 4%;
    /* justify-content: space-evenly; */
  }
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1200px) {
  /* Hero section CSS */
  .heroSVG {
    width: 200px;
    height: 200px;
  }

  .heroImage {
    height: 600px;
  }

  .heroText {
    font-size: 36px;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  /* Plan details CSS */
  .plansContainer {
    width: 50%;
    margin: auto;
  }

  .planCard {
    padding-top: 18px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .planCard > div > div > p > :nth-child(1) {
    font-size: 20px;
    font-weight: 500;
  }

  .planCard > div > div > p > :nth-child(2) {
    font-size: 12px;
    font-weight: 400;
  }

  .planCard > div > div > :nth-child(2) {
    margin-top: "-10px";
    color: #7d7d7d;
    font-size: 12px;
    font-weight: 400;
  }

  .radioButton {
    width: 12px;
    height: 12px;
  }

  .planCard > :nth-child(2) {
    font-weight: 400;
    font-size: 16px;
  }

  .specialPriceTag {
    font-size: 12px;
    top: -14px;
  }

  /* Discount section CSS */
  .discountContainer {
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
  }

  .discountContainer > p {
    font-size: 18px;
  }

  .discountCard {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
  }

  .discountCard > div > div > p {
    font-size: 16px;
    font-weight: 600;
  }

  .discountCard > :nth-child(2) {
    margin-top: 10px;
  }

  .discountCard > :nth-child(2) > :nth-child(1) {
    font-size: 13px;
    font-weight: 400;
  }

  .discountCard > :nth-child(2) > :nth-child(2) {
    font-size: 13px;
    font-weight: 400;
  }

  .subscribe {
    border-radius: 20px;
    width: 43%;
    margin: auto;
    margin-top: 5%;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
  }

  .subscribe > :nth-child(1) {
    font-size: 25px;
    font-weight: 700;
  }

  .subscribe > :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
  }

  .arrowForward {
    font-size: 24px;
  }

  /* Benefits section CSS */
  .benefitsContainer {
    width: 40%;
    margin: auto;
    margin-top: 5%;
    padding-bottom: 20px;
  }

  .benefitsContainer > p {
    font-size: 16px;
    font-weight: 700;
    width: 45%;
    padding: 7px 17px 7px 17px;
  }

  .benefitsCard {
    padding: 0px 20px 0px 30px;
    display: flex;
    align-content: first baseline;
    gap: 20px;
    font-size: 14px;
  }

  .benefitsCard > div > img {
    width: 50px;
    height: 50px;
    margin-top: 15px;
  }

  .benefitsCard > :nth-child(2) > :nth-child(1) {
    font-weight: 500;
    font-size: 17px;
  }

  .benefitsCard > :nth-child(2) > :nth-child(2) {
    font-weight: 00;
    font-size: 15px;
    margin-top: -10px;
  }

  /* Series section */
  .seriesContainer {
    margin-top: 1%;
  }

  .titleHeader {
    font-size: 32px;
    font-weight: 700;
  }

  .seriesImageContainer {
    width: 100%;
    justify-content: space-evenly;
    overflow-x: auto !important;
    margin: auto;
    margin-top: 40px;
    gap: 10px;
  }

  .seriesImage {
    width: 120px;
    height: 150px;
  }

  /* Top experts section */
  .expertsContainer {
    width: 100%;
    margin: auto;
    margin-top: 3%;
  }

  .expertsContainer > div {
    margin-top: 3%;
    justify-content: space-evenly;
  }

  .expertsCard {
    min-width: 100px;
  }

  .expertsCard > img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .expertsCard > :nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .expertsCard > :nth-child(3) {
    font-size: 13px;
    text-align: center;
  }
}
