body {
  background: black;
  color: white;
}

.container {
  max-width: 1248px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px; 
  padding-left: 20px; 
}

.heroImage {
  background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.52), black),
    url("/src/assets/heroBG.png");
  height: 300px;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.heroMain {
  display: flex;
  gap: 10px;
  margin-top: 20%;
}

/* Small Devices (Phones) */
@media only screen and (max-width: 767px) {
  .heroText{
    font-size: 20px;
  }

  .planCard{
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    background-color: #292A2F;
  }
}

/* Medium Devices (Tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .heroSVG {
    width: 140px;
    height: 140px;
  }

  .heroText{
    font-size: 22px;
  }
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1200px) {
  .heroSVG {
    width: 200px;
    height: 200px;
  }

  .heroImage{
    height: 500px;
  }

  .heroText{
    font-size: 36px;
  }

  .container{
    margin-right: auto;
    margin-left: auto;
  }
}
